<div class="panel panel-default" ng-controller="sts.views.project.list as vm">

    <div class="panel-heading" style="position: relative;">
        <div class="row">
            
            <!-- Title -->
            <h3 class="panel-title col-xs-6">
                @L("TaskList") - <span>{{vm.getProjectCountText()}}</span>
            </h3>

        </div>
    </div>

    <!-- Project list -->
    <ul class="list-group" ng-repeat="project in vm.projects">
        <div class="list-group-item">
            <span class="task-state-icon glyphicon">{{project.name}}</span>
            <span>{{project.description}}</span>
        </div>
    </ul>

</div>