<div ng-controller="app.views.knowledge.list as vm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span ng-repeat="knowledgeCategory in vm.knowledgeCategories">
                <span class="btn-link" href="#" ng-click="vm.knowledgeCategoryClick(knowledgeCategory);">{{knowledgeCategory.name}}</span>
            </span>
        </div>
        <div class="panel-body">
            <table class="table table-responsive table-striped">
                <caption ng-model="activeKnowledgeCategory"></caption>
                <thead>
                    <tr>
                        <th class="col-sm-2">Number.</th>
                        <th class="col-sm-4">Knowledge.</th>
                        <th>Detail.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="knowledge in vm.knowledges">
                        <td>{{knowledge.sort}}</td>
                        <td>{{knowledge.name}}</td>
                        <td>
                            @*Reference:http://ngmodules.org/modules/angular-marked*@
                            <div marked="knowledge.detail" class="markdown">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>