<div ng-controller="app.views.knowledge.new as vm">
    <form id="KnowledgeCategory" role="form" name="knowledgeCategory" novalidate>

        <div class="form-group">
            <label for="KbCategoryItem">@L("KbCategoryItemName")</label>
            <select id="KbCategoryItem" ng-model="vm.knowledgeCategory.kbCategoryItemId"
                    ng-options="m.id as m.name for m in vm.kbCategoryItems" class="form-control" placeholder="@L("EnterHere")" required></select>
        </div>

        <button ng-click="vm.saveKnowledgeCategory()" ng-disabled="knowledgeCategory.$invalid" type="submit" class="btn btn-primary">@L("Create")</button>

    </form>
</div>