<div ng-controller="app.views.home as vm">
    <h1 class="text-center">
        @L("WellcomeMessage")
    </h1>
    @*<p class="lead">@L("Home_ThisIsATemplate")</p>*@

    <div class="form-inline">
        <label class="col-lg-8 text-right" for="kbType">KB类型:</label>
        <select ng-model="kbType" ng-change="vm.kbTypeChange();" class="form-control text-right col-lg-4" ng-options="m.id as m.name for m in vm.kbCategories"></select>
    </div>

    <div style="clear:both;">
    </div>

    <div class="container mycontainer" style="text-align: center; margin-top: 20px;">
        <div class="row">
            <div class="col-md-3 myblock" ng-repeat="kbcategoryitem in vm.kbCategoryItems">
                <a ng-href="#/knowledgelist" class="ng-binding">{{kbcategoryitem.name}}</a>
            </div>
        </div>
    </div>

    <a href="https://github.com/pzdn2009/KbAbp">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="//camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="//s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
    </a>
</div>

<style type="text/css">
    .myblock {
        max-width: 300px;
        height: 150px;
        font-size: 28px;
        text-align: center;
        background-color: lightblue;
        line-height: 150px;
        margin: 4px;
        -moz-border-radius: 12px; /* Gecko browsers */
        -webkit-border-radius: 12px; /* Webkit browsers */
        border-radius: 12px; /* W3C syntax */
        text-shadow: black 0 0 1px;
        cursor: pointer;
    }

        .myblock a:hover {
            text-decoration: none;
        }
</style>

<script type="text/javascript">
    $("div .myblock").hover(function () {
        $(this).css("backgroundColor", "skyblue");
    }, function () {
        $(this).css("backgroundColor", "");
    }).click(function () {
        var a = $(this).find("a").get(0);
        window.location = a;
    });
</script>